.input-group-append{
  width: 18%;
  display: inline-block;
  margin-left:5px;
}
#message-body{
  width: 80%;
  display: inline-block;
  float: left;
}
.position-relative {
  position: relative;
}
.padding-search{
  padding: 1px 5px;
}